* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 60px;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
}

footer {
  color: #ccc;
  background-color: #333;
  padding: 20px;
  text-align: center;
}

section {
  height: 700px;
}

.dark-bg {
  background-color: #666;
}

.dark-text {
  color: #000;
}

.light-text {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-text {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.hero-text h1 {
  max-width: 50%;
  display: inline-block;
}

.hero-text span {
  align-self: flex-end;
}

.logo {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 0 15px;
  line-height: 60px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  cursor: pointer;
}
