* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  color: #fff;
}

nav {
  background-color: #fff;
  color: #122121;
  height: 60px;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
}

footer {
  color: #3d5252;
  padding: 50px;
  text-align: right;
}

section {
  display: flex;
  height: 700px;
  padding: 4%;
}

.big-section-text {
  align-self: center;
  font-size: 5em;
}

.dark-bg {
  background-color: #122121;
}

.footer-item {
  padding: 0 10px;
}

.footer-item:hover {
  color: #fff;
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('glen-bg-lg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-text {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.hero-text h1 {
  max-width: 50%;
  display: inline-block;
}

.hero-text span {
  align-self: flex-end;
}

.logo {
  float: left;
}

.nav-item {
  display: inline-block;
  padding: 0 15px;
  line-height: 60px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item:hover {
  cursor: pointer;
}

.row {
  width: 100%;
  text-align: center;
}

.section-icon-light {
  padding: 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.section-icon-dark {
  color: #122121;
  padding: 10px 20px;
  border-top: 1px solid #122121;
  border-bottom: 1px solid #122121;
}

#contact {
  justify-content: center;
}
