* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #fff; }

nav {
  font-family: 'Nunito', sans-serif;
  height: 60px;
  width: 100%;
  text-align: right;
  padding: 0 50px;
  position: fixed;
  top: 0;
  transition: top 0.3s; }

nav ul {
  list-style-type: none; }

footer {
  color: #3d5252;
  padding: 50px;
  text-align: right; }

section {
  padding: 4%; }

.big-section-text {
  align-self: center;
  font-size: 5em;
  padding: 12% 0; }

.center {
  text-align: center; }

.dark-bg {
  background-color: #122121; }

.dark-text,
.light-bg {
  color: #122121; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.footer-item {
  padding: 0 10px;
  transition: 0.3s; }

.footer-item:hover {
  color: #fff;
  cursor: pointer; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/glen-bg-lg.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.hero-text {
  align-items: baseline;
  align-self: flex-end;
  justify-content: center;
  padding: 50px;
  width: 100%; }
  .hero-text h1 {
    font-weight: 100; }
  .hero-text span {
    position: absolute;
    right: 2%;
    bottom: 3%; }

.logo {
  width: 100%;
  height: auto;
  max-width: 600px;
  -webkit-filter: invert(100%);
          filter: invert(100%); }

.nav-item {
  display: inline-block;
  line-height: 60px; }

.nav-item a {
  font-size: 0.8em;
  padding-left: 15px;
  text-decoration: none;
  color: inherit; }

.nav-item a:hover {
  text-decoration: underline; }

.nav-item:hover {
  cursor: pointer; }

.row {
  margin-bottom: 4%;
  width: 100%; }

.section-icon-light {
  padding: 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.section-icon-dark {
  color: #122121;
  padding: 10px 20px;
  border-top: 1px solid #122121;
  border-bottom: 1px solid #122121; }

.section-text {
  max-width: 750px;
  margin: 0 auto; }

.section-title {
  font-weight: 100; }

#contact {
  justify-content: center; }
